<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Layout</title>
</head>
<body>

  <div class="navbar">
   <a href="#">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <a href="#">About</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <a href="#">Services</a>
  </div>

  <div class="main">
    <div class="sidebar">Sidebar</div>
    <div class="content">Content</div>
  </div>

</body>
</html>

<!-- <p>demo works!</p>

  <h2>Person Name : {{person.name}}</h2>
  <h2>Person Age : {{person.age}}</h2>
<hr>
<div *ngFor="let emp of employeeList">
    <h2>Id : {{emp.eid}} | Name : {{emp.ename}} | Department : {{emp.eadept}} | Salary : {{emp.esalary}}</h2>
  </div>

<hr>
  <div *ngFor="let day of days">
    <h2>{{day}}</h2>
  </div>
<hr>
<h3>Employee Id : {{emp1.eid}}</h3>
<h3>Employee Name : {{emp1.ename}}</h3>
<h3>Employee Department : {{emp1.eadept}}</h3>
<h3>Employee Esalary : {{emp1.esalary}}</h3>
<h3>Employee Is Present : {{emp1.isPresent}}</h3>

<hr>
<h3>Value of num is : {{num}}</h3>
<h3>Name is : {{name}}</h3>
<h3>Price is : {{price}}</h3>
<h3>Student  is Present : {{isPresent}}</h3>
<h3>Data  is : {{data}}</h3>




 -->
