<br><br><hr>
<div align="center">
    <button (click)="setLoginForm('user')">User Login</button><br><br>
    <button (click)="setLoginForm('admin')">Admin Login</button>
</div>
 <br><br><hr><br>
 <div align="center">

  <form [formGroup]="loginForm" (ngSubmit)="submitData()">

       <div *ngIf="loginType==='user'">
        <label for="username">Username  </label>
        <input type="text" formControlName="username"/><br><br>
        <label for="password">Password </label>
        <input type="text" formControlName="password"/>
       </div>
       <div *ngIf="loginType==='admin'">
        
        <label for="adminId">Admin Id  </label>
        <input type="text" formControlName="adminId"/><br><br>

        <label for="admiKey">Admin Key </label>
        <input type="text" formControlName="admiKey"/><br><br>
      
        <label for="password">Password </label>
        <input type="text" formControlName="password"/>

      </div>
      <button type="submit">Login</button>
  </form>
 </div>

  <!-- <div align="center">
    <form [formGroup]="loginForm" (ngSubmit)="submitData()">

        <label for="username">Username</label>
        <input type="text"  id="username" formControlName="username" name="username">
       <br><br>
        <label for="password">Password</label>
        <input type="text"  id="password" formControlName="password" name="password">
        <br><br>

        <div formGroupName="address">

            <label for="city">City</label>
            <input type="text"  id="city" formControlName="city" name="city">
           <br><br>
            <label for="area">Area</label>
            <input type="text"  id="area" formControlName="area" name="area">
            <br><br>
    
        </div>
        <input type="submit" value="SUBMIT">
   </form>
   <br><br>
  </div> -->