
<h1>App Component</h1>
<div>
    <app-parent></app-parent>
</div>
<!-- <app-form-validation></app-form-validation> -->
<!-- <app-ractive-form></app-ractive-form> -->
<!-- <app-template-driven></app-template-driven> -->
<!-- <app-directives-demo></app-directives-demo> -->
<!-- <app-pipe-example></app-pipe-example> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-contactus></app-contactus> -->
<!-- <app-demo></app-demo> -->
<!-- <app-hello></app-hello> -->
<!--<app-department></app-department> -->