
<div align="center">

     <h2>Pipe Examples</h2>
     <hr>
      <h3>Enter Number</h3><br>
      <input type="text" [(ngModel)]="num"><br>
      <hr>
     <h1 style="color:purple">Information  of <span style="color: brown;">{{num}}</span> Number</h1>
     <h1>{{num | evenOdd}}</h1>
     <h1>Square of {{num}} is {{num | square}}</h1>
     <h1>{{num | prime}}</h1>

</div>
  <!-- <h2>a = {{a}}</h2>
  <h2>a^2 = {{a | square}}</h2>
  
 <hr>
  <h2>{{num}}</h2>
  <h2>{{num | slice : 0 : 3}}</h2>
  <h2>{{num | slice : -2}}</h2>
  <h2>{{num | slice : -4 : -1}}</h2>
<hr>
  <h2>Date : {{today}}</h2>
  <h2>Date : {{today | date}}</h2>
  <h2>Date : {{today | date : 'short'}}</h2>
  <h2>Date : {{today | date : 'fullDate'}}</h2>
<hr>
<h2>{{data}}</h2>
<h2>{{data | uppercase}}</h2>
<h2>{{data | titlecase}}</h2> -->
